<!-- $(elem).hide();
$(elem).show(); -->



<h2>Your order</h2>
<br/>

<form action="/order" method="post">
 <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
    </tr>
  </thead>
  <tbody>
  <% @items.each do |item| %>
    <tr>
      <th scope="row"><%= item[0].id %></th>
      <td><%= item[0].title %></td>
      <td><%= item[0].price %></td>
      <td><%= item[1] %></td>
    </tr>
  <% end %>
  </tbody>
</table>
	<input type="submit" class="btn btn-primary btn-lg" id="order_button_order"/>
</form>


<!-- <script type="text/javascript">
  $(function() {
    $('#order_button').hide();
  });
</script> -->
