<h2>Welcome to PizzaShop</h2>
<table>

<div class="container">
  <div class="row">
    <div class="col-md-2">
      One of three columns
    </div>
    <div class="col-md-2">
      <img src="/images/pepperoni.jpg">
      Two Pizza
    </div>
    <div class="col-md-2">
      One of three columns
    </div>
  </div>
</div>
</table>


<button class="btn btn-primary" onclick="something()">Click me</button>
